body{
  font-family: 'ubuntu', sans-serif;
}
nav{
  border-bottom: 1px solid #ccc;
}
nav a{
  padding: 5px 10px;
  display: inline-block;
  color: #666;
  text-decoration: none;
}
nav a:hover{
  color: #000;
}